.header-layout {
  position: fixed;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
}

.visible {
  /* display: flex; */
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden {
  /* display: none; */
  top: -80px;
  transition: top 0.4s ease-out;
}
